<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:extwin" /><body class="extwin"><roundcube:else /><body><roundcube:endif />

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="agendavtoolbar" class="toolbar">
<roundcube:object name="tablink" action="index" type="link" label="agendav.agendav" title="agendav.agendav" class="button index" />
<roundcube:object name="tablink" action="prefs" type="link" label="agendav.prefs" title="agendav.prefs" class="button prefs" />
<roundcube:container name="helptabs" id="helptabsbar" />
</div>

<div id="pluginbody" class="uibox offset">
	<div class="iframebox agendav_<roundcube:var name='env:action' />">
		<roundcube:object name="agendavcontent" id="agendavcontentframe" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
	</div>
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
